
.wod {
    max-width: 1200px;
    margin: 0 auto;
}

.wod img {
    width: 100%;
}

.wod__logo {
    padding: 24px 0;
}


@media screen and (max-width: 600px) {
    .wod__logo {
        padding: 12px 0;
    }
}



@media screen and (max-width: 600px) {
    #ftbottom a {
        background-color: #3e2e6c;
    }
}

#ftbottom {
    background-color: #3e2e6c;
}


}
