@charset "UTF-8";
body {
    font-family: YuGothic, '游ゴシック', Meiryo, メイリオ, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
    font-size: 10px;
    line-height: 2em;
    text-align: left;
    background: $bg_color;
    color: $text_color;
}

a {
    color: $link_color;
    -webkit-tap-highlight-color: $touch_color;
    &:hover {
        color: $hv_color;
    }
}

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

.inner {
    position: relative;
    max-width: $max_width;
    margin: 0 auto;
    padding: 0 12px;
}

.pchidden {
    display: none;
}

.sphidden {
    display: block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.alignleft {
    float: left;
    margin: 0 1em 1em 0;
}

.alignright {
    float: left;
    margin: 0 0 1em 1em;
}

.small {
    font-size: 0.7em;
}

.large {
    font-size: 1.3em;
}

.bold {
    font-weight: bold;
}

.iframeWrap {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.iframeWrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

textarea,
select {
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border: 1px solid #000;
    background: #FFF;
    border-radius: 3px;
    padding: 5px;
    font-size: 1.4em;
    &:focus {
        outline: 2px solid rgba($link_color, .3)
    }
}

input[type="submit"],
input[type="reset"] {
    width: 100%;
    background-origin: border-box;
    position: relative;
    @include ts-000(.1);
    @include gradient-top-lighten($main_color, 5%);
    @include emboss-box($border: .1, $shadow: .1, $highlight: .2);
    color: rgba(#FFF, .9);
    font-size: 12px;
    padding: 0 10px;
    text-align: center;
    height: 38px;
    line-height: 38px;
    border-radius: 3px;
    &:focus {
        outline: 0;
    }
    &:hover {
        @include gradient-top-lighten($link_color, 20%);
    }
}

input[type="reset"] {
    @include gradient-top-lighten(#555, 5%);
    color: rgba(#FFF, .9);
    &:hover {
        @include gradient-top-lighten(#555, 20%);
    }
}

.img-auto img {
    height: auto !important;
}











































/*-- ANIMATION ---------------------------------*/

@include keyframes(animationY) {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@include keyframes(animationOpacity) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animating {
    #header {
        @include animation(animationY 1s ease 0.5s backwards);
    }
    #main,
    #footer {
        @include animation(animationOpacity 1s ease 1s backwards);
    }
}

#loading {
    display: none;
}

.animating #loading {
    display: block;
    position: fixed;
    z-index: 200;
    background: $main_color;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60px;
        height: 33px;
        margin: -30px 0 0 -16px;
        background: url(../images/loading.gif) 0 0 no-repeat;
    }
}











































/*-- HEADER---------------------------------*/

#header {
    position: relative;
    background: $bg_color;
    padding: 48px 0 0 0;
    margin-bottom: 1px;
    .header__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #logo {
        font-size: 12px;
        width: 20%;
        white-space: nowrap;
        a {
            position: relative;
            display: block;
            width: 220px;
            height: 56px;
            perspective: 300px;
            img {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                backface-visibility: visible;
                transition: 1s;
            }
            &:hover img {
                transform: rotateY(360deg);
            }
        }
    }
    #header__adsense {
        width: 60%;
        padding: 12px 0;
    }
}

#header--top {
    position: absolute;
    top: 0;
    left: 0;
    height: 47px;
    color: #FFF;
    background: $sub_color1;
    width: 100%;
    z-index: 10000;
    @include line-bottom(1, 1);
    .inner {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .socialLink {
        float: left;

        a {
            position: relative;
        }
        a:hover {
            margin-top: -5px;
        }
    }
}

#menbernav {
    overflow: hidden;
    float: right;
    li {
        float: left;
        margin-left: 20px;
        font-size: 12px;
        line-height: 30px;
    }
    li#login span {
        @include button($color: #F2F2F2, $text-color: #000);
        font-size: 12px;
        line-height: 24px;
        height: 24px;
        padding-top: 0;
        padding-bottom: 0;
        color: #333;
        cursor: pointer;
        max-width: 150px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .beginner:before {
        content: url(../images/beginner.png);
        margin-right: 5px;
    }
}

#search {
    position: relative;
    float: left;
    width: 122px;
    margin-top: 2px;
    margin-left: 10px;
    input[type="text"] {
        width: 150px;
        height: 24px;
        outline: none;
        border: 1px solid #000;
        background: #999;
        border-radius: 3px;
        padding-right: 25px;
        font-size: 1.4em;
        &:focus {
            background: #FFF;
        }
    }
    input[type="image"] {
        position: absolute;
        top: 7px;
        right: -50px;
    }
}

#navigation {
    margin-bottom: 24px;
    @include line-tb(.5, 1);
    ul {
        overflow: hidden;
        max-width: $max_width;
        margin: 0 auto;
    }

    li.current a {
        background: #333;
        color: #FFF;
    }
    a {
        display: block;
        padding: 6px 0;
        font-size: 1.2em;
        color: #333;
        font-weight: bold;
    }
    a:hover {
        background-color: $link_color;
        color: #FFF;
    }
    #shopbtn {
        float: right;
        a {
            @include button($color: $main_color, $text-color: #FFF);
            font-size: 12px;
            line-height: 22px;
            height: 22px;
            padding: 0 20px;
            margin-top: 3px;
            font-weight: normal;
        }
        span {
            display: inline;
        }
    }
    #shopbtn-sp {
        display: none;
    }
}

#menuBtn {
    display: none;
}

.menu {
    &__item {
        text-align: center;
        margin: 0 10px;
    }
    a {
        display: block;
    }
}

#nav-sp {
    display: none;
}

@include mq {
    #nav-sp {
        display: block;
        background-color: $main_color;
    }
    #nav-pc {
        display: none;
    }
}

.social {
    background-color: rgba(255, 255, 255, .8);
    display: none;

    &__list {
        display: flex;
    }
    &__item {
        width: 23%;
        margin: 1%;
        text-align: center;
        border-radius: 2px;
        padding: 5px 0;

        i {
            font-size: 20px;
            color: #fff;
            vertical-align: middle;
        }
        a {
            display: block;
        }
    }
}

.social__item--tw {
    background-color: #1b95e0;
}

.social__item--fb {
    background-color: #004A9A;
}

.social__item--line {
    background-color: #2CBF13;
}

.social__item--youtube {
    background-color: #BF2A32;
}

.social__item--rss {
    background-color: #F15A24;
}

.social__item--home {
    background-color: $main_color;
}




.tabContainer::-webkit-scrollbar {
    height: 5px;
}

.tabContainer::-webkit-scrollbar-track {
    background: #000;
}

.tabContainer::-webkit-scrollbar-thumb {
    background: #000;
}

.tabContainer {
    overflow-x: auto;
    .tab {
        display: table;
        border-right: 1px solid #959595;
        margin: 12px auto 12px auto;
    }
    .tab__button {
        text-align: center;
        float: left;
        cursor: pointer;
        a {
            color: #959595;
            letter-spacing: 1px;
            background-color: #fff;
            border-left: 1px solid #959595;
            border-top: 1px solid #959595;
            border-bottom: 1px solid #959595;
            min-width: 120px;
            color: #959595;
            display: block;
        }
    }
    .tab__button.active {

        a {
            background-color: #959595;
            color: #fff;
        }
    }
}

.archiveTab {
    display: none;
}


.app {
    display: none;
    a {
        width: 100%;
        height: 100%;
    }
}

@include mq {
    .fixed-app {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 10000;
        background-color: #fff;
        transition: .6s;
    }
    .hide-app {
        transform: translateY(-100%);
    }
    #sharenav_sp {
        display: none;
    }

    .fixed {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10000;
    }
}

.app-button {}

.app-button__link {}

.single__top {
    margin-bottom: 24px;
}

// 
.related {
    a {
        color:#424242;
    }
    &__list {
        border: solid 1px #BDBDBD;
    }
    &__head {
        margin-bottom: 0px!important;
        border-bottom: 0px!important;
    }
    &__item {
        background-color: #fff;

        border-bottom: solid 1px #BDBDBD;
        margin-bottom: 6px
    }
    &__item:last-child {
        border-bottom: solid 0px #BDBDBD;
    }
    &__flex {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    &__img {
        width: 40%;
        margin-top: 6px;
        margin-left: 6px;
    }
    &__text {
        padding: 12px;
        width: 60%;
        h5 {
            font-weight: bold;
            font-size: 16px!important;
            line-height: 1.5!important;
            margin-bottom: 0px!important;
        }
        p {
            font-size: 12px!important;
            line-height: 1.5!important;
            margin-bottom: 0px!important;
        }
    }
}


































/*-- LOGIN ---------------------------------*/

#login--wd {
    display: none;
    position: absolute;
    top: 50px;
    right: 20px;
    z-index: 20;
    width: 250px;
    box-shadow: 0 0 3px rgba(#000, .5);
    &:after {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        background: #FFF;
        transform: rotate(45deg);
        top: -5px;
        right: 40px;
    }
}

#login--wd {
    background: #FFF;
    color: #333;
    #wpg-login a {
        margin-bottom: 8px;
        display: block;
    }
}

#loginform {
    width: 250px;
    box-sizing: border-box;
    padding: 20px;
    background: #FFF;
    dl {
        margin-bottom: 24px;
    }
    dt {
        @include adjust-font-size-to(12px, 1);
    }
    dd {
        margin-bottom: 8px;
    }
    input[type="submit"] {
        width: 120px;
        margin-bottom: 12px;
    }
    p {
        @include adjust-font-size-to(12px, 1);
    }
}

.loginwd {
    box-sizing: border-box;
    padding: 20px;
    background: #FFF;
    height: auto !important;
    .loginwd--hd {
        margin-bottom: 20px;
        img {
            width: 30px;
            margin-left: 5px;
            float: left;
            display: block;
        }
        em {
            font-style: normal;
            font-size: 12px;
            line-height: 15px;
            margin-left: 50px;
            display: block;
            text-align: left;
        }
    }
    span {
        width: 100%;
        box-sizing: border-box;
    }
}











































/*-- MAIN ---------------------------------*/

#wrapper {
    position: relative;
    overflow: hidden;
}

#main {
    overflow: hidden;
    background: $bg_color;
}

#content {}

#mainContent {
    position: relative;
    width: 100%;
    float: right;
    >.content-inner {
        overflow: hidden;
        margin-left: 240px;
    }
}

#maincol {
    width: 100%;
    float: left;
    >.content-inner {
        overflow: hidden;
        margin-right: 340px;
    }
}

.single {
    #maincol {
        float: none;
        >.content-inner {
            margin-right: 0;
        }
    }
}

.section--title {
    font-family: 'Century Gothic', CenturyGothic, YuGothic, '游ゴシック', Meiryo, メイリオ, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
    position: relative;
    font-weight: bold;
    text-align: center;
    @include adjust-font-size-to(24px, 1);
    @include rhythm-margins(1, 1);
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #424242;
    span {
        font-size: 12px;
        font-weight: normal;
    }
}











































/*-- SUB ---------------------------------*/

#sub1 {
    position: relative;
    z-index: 2;
    float: left;
    width: 200px;
    padding-right: 20px;
    margin-right: -220px;
    overflow: hidden;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
    &:before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        margin-left: -1px;
        z-index: 0;
        @include line-right(.5, 1);
    }
}

#sub-navigation {
    margin: 24px 0;
    .nav-content {
        a {
            @include adjust-font-size-to(13px, 1);
            color: $text_color;
            &:hover {
                color: $link_color;
            }
        }
        li {
            margin-bottom: 8px;
        }
        ul ul li {
            margin-bottom: 0;
        }
        li ul {
            padding-left: 1em;
            li:before {
                content: "→ ";
            }
        }
    }
}

.icn {
    position: relative;
    padding-left: 23px;
    &:before {
        content: "";
        position: absolute;
        top: 2px;
        left: 0;
        width: 16px;
        height: 16px;
        background: url(../images/icon-nav.png) 0 0 no-repeat;
    }
}

.icn-flower:before {
    background-position: -211px 0;
}

.icn-special:before {
    background-position: 0 0;
}

.icn-news:before {
    background-position: -16px 0;
}

.icn-event:before {
    background-position: -32px 0;
}

.icn-fashion:before {
    background-position: -48px 0;
}

.icn-music:before {
    background-position: -64px 0;
}

.icn-video:before {
    background-position: -80px 0;
}

.icn-studio:before {
    background-position: -96px 0;
}

.icn-column:before {
    background-position: -112px 0;
}

.icn-job:before {
    background-position: -128px 0;
}

.icn-history:before {
    background-position: -135px 0;
}

.icn-topics:before {
    background-position: -160px 0;
}

.icn-home:before {
    background-position: -176px 0;
}

.icn-ranking:before {
    background-position: -192px 0;
}

.icn-author:before {
    background-position: -208px 0;
}

#sub2 {
    position: relative;
    float: right;
    width: 300px;
    margin-left: -320px;
    padding-left: 20px;
    overflow: hidden;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
    &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        z-index: 1;
        @include line-right(.5, 1);
    }
}

.single {
    #sub2 {
        float: none;
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 24px;
        padding: 0;
        &:before {
            content: none;
        }
    }
    .grid-sp {
        margin-left: -10px;
        margin-right: -10px;
        >* {
            float: left;
            box-sizing: border-box;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.sub--bx {


    img {
        vertical-align: bottom;
    }
    p {
        @include adjust-font-size-to(14px, 1);
        margin-bottom: 0;
    }
    .iframeWrap {
        padding-top: 56%;
        margin-bottom: 8px;
    }
}

#sub-adarea {
    position: relative;
    margin-bottom: 24px;
    text-align: center;
    .sub--bx {
        margin-top: 0;
        margin-bottom: 24px;
    }
}

.user-icon {
    margin: 0 -5px;
    li {
        float: left;
        box-sizing: border-box;
        width: 25%;
        padding: 0 5px;
        margin-bottom: 5px !important;
    }
    .imageWrapper {
        width: 100%;
        .image {
            padding-top: 100% !important;
        }
    }
    img {
        height: auto!important;
    }
}

.page-links {
    margin-bottom: 24px;
}

.single-sns {
    margin-bottom: 10px;
    &__btn {
        padding: 12px 0;
        display: block;
        text-align: center;
        font-size: 16px;
        &>span {
            white-space: nowrap;
            color: #FFF;
            font-size: 14px;
        }

        &>i {
            color: #FFF;
            padding-right: 10px;
            font-size: 14px;
        }
        &--twitter {
            background-color: #55acee;
        }
        &--facebook {
            background-color: #3b5998;
        }
        &--ad {
            background-color: $main_color;
        }
    }
}
































/*-- FOOTER---------------------------------*/

#footer {
    position: relative;
    background: #DDD;
    a {
        color: #FFF;
        &:hover {
            color: $link_color;
        }
    }
}

.footer__inner {
    padding: 24px 12px;
}

#fttop {
    background-color: #6A6A6A;
    color: #FFF;
    @include line-top(.5, .5);
    .inner>div {
        display: table;
        width: 100%;
        padding: 24px 0;
        margin: 0;
        h4 {
            width: 120px;
            padding-right: 24px;
            display: table-cell;
            vertical-align: middle;
        }
        p {
            display: table-cell;
            @include adjust-font-size-to(12px, 1);
        }
    }
}

.socialLink {
    li {
        margin: 0 10px;
        a {
            color: #fff;
        }
        i {
            font-size: 24px;
        }
        @include mq {
            margin: 0 10px;
        }
    }
}


#ftmiddle {
    background-color: #555;
    color: #FFF;


    .inner {
        padding-bottom: 24px;
    }

    #likeBox {
        margin-top: 24px;
        padding: 0 5px 5px 5px;
        background-color: #EEE;
        border-radius: 3px;
    }
    #twitterBox {
        margin-top: 24px;
        background-color: #EEE;
        border-radius: 3px;
    }
}


.ftnav {
    @include adjust-font-size-to(13px, 1);
    ul {
        overflow: hidden;
    }
    li {
        float: left;
        width: 33.333%;
        box-sizing: border-box;
        padding: 1px;
    }
    a {
        display: block;
        text-align: center;
        padding: 5px 0;
        background: #333;
    }
}



#fttop {
    .inner>div {
        display: block;
        h4 {
            padding-bottom: 16px;
            display: block;
            img {
                width: 60px;
            }
        }
        p {
            display: block;
        }
    }
}

.ftnav {
    @include adjust-font-size-to(10px, 1);
}


#likeBox .fbcomments,
#likeBox .fb_iframe_widget,
#likeBox .fb_iframe_widget[style],
#likeBox .fb_iframe_widget iframe[style],
#likeBox .fbcomments iframe[style],
#likeBox .fb_iframe_widget span {
    width: 100%! important;
}

#likeBox a {
    color: #00CCFF!important;
}

#twitterBox {
    padding: 0 20px;
}

.ft-follow {
    a {
        border-radius: 3px;
    }

    .tw a {
        background-color: #33CCFF;
    }

    .fb a {
        background-color: #004A9A;
    }

    .rss a {
        background-color: #F15A24;
    }

    .insta a {
        background-color: #A67C52;
    }

    .linea a {
        background-color: #2CBF13;
    }

    .ab a {
        background-color: #48A737;
    }

    .tb a {
        background-color: #365069;
    }

    .bl a {
        background-color: #EF8200;
    }
}

.socialBtn {
    margin: 0;
    zoom: 1;
    li {
        float: left;
        margin-right: 8px;
    }

    li.fb {
        width: 60px;
    }

    &:before {
        content: "";
        display: table;
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.facebook-share-button {
    color: #fff;
    background-color: #004A9A;
    padding: 4px 12px;
    border-radius: 3px;
    i {
        color: #fff;
    }
}

#ftbottom {
    position: relative;
    background: #333;
    color: #FFF;
    .inner {
        @include adjust-font-size-to(10px, 1);
        @include rhythm-padding(.333, .333);
    }

    ul {
        overflow: hidden;
        float: right;
    }

    li {
        float: left;
        margin-left: 20px;
        font-size: 1.2em;
    }

    address {
        font-size: 1.1em;
        display: block;
        font-style: normal;
    }
}

































/*-- SPECIAL---------------------------------*/

.ranking {
    position: relative;
    z-index: 10;
    background: $bg_color;
    @include line-top(.5, 1);
    li {
        margin-bottom: 24px;
    }

    li p:before {
        content: "";
        background-color: $main_color;
        font-size: 12px;
        padding: 1px 4px;
        line-height: 24px;
        border-radius: 3px;
        margin-right: 5px;
        border-bottom: 1px solid #FFF;
        color: #FFF;
    }

    li:nth-child(1) p:before {
        content: "1位";
        background-color: #e6b422;
    }

    li:nth-child(2) p:before {
        content: "2位";
        background-color: #C0C0C0;
    }

    li:nth-child(3) p:before {
        content: "3位";
        background-color: #C47222;
    }

    li:nth-child(4) p:before {
        content: "4位";
    }

    li:nth-child(5) p:before {
        content: "5位";
    }

    li:nth-child(6) p:before {
        content: "6位";
    }
    li:nth-child(7) p:before {
        content: "7位";
    }
     li:nth-child(8) p:before {
        content: "8位";
    }
     li:nth-child(9) p:before {
        content: "9位";
    }
     li:nth-child(10) p:before {
        content: "10位";
    }
}

.sp-grid {
    overflow: hidden;
    margin-bottom: 12px;
    .sp-grid__item {
        box-sizing: border-box;
        float: left;
        width: 23%;
        margin: 0 1%;
        .imageWrapper {
            .image {
                width: 100%;
            }
        }
    }
}











































/*-- ENTRIES---------------------------------*/

.entries {
    li {
        margin-bottom: 24px;
    }

    .rank-number {
        position: absolute;
        z-index: 100;
        color: #fff;
        width: 48px;
        background-color: rgba(219, 37, 19, .7);
        text-align: center;
        font-size: 12px;
        font-family: 'Fjalla One', sans-serif;
    }

    .image {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 50%;
        overflow: hidden;
        margin-bottom: 8px;
        border-radius: 3px;
        img {
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            max-width: 120%;
            transition: all 0.3s;
        }
        span.cat {
            position: absolute;
            display: block;
            top: 0;
            right: 0;
            color: #FFF;
            font-size: 8px;
            line-height: 18px;
            padding: 0 6px;
            border-radius: 0 0 0 3px;
            width: 6em;
            text-align: center;
            border-left: 1px solid #F2F2F2;
            border-bottom: 1px solid #F2F2F2;
            background-color: rgba(1, 1, 1, .8);
        }
    }

    .entries--title {
        @include adjust-font-size-to(18px, 1);
    }

    p {
        @include adjust-font-size-to(14px, 1);
        line-height: 1.7;
    }

    a {
        color: $text_color;
    }

    a:hover img {
        width: 120%;
        top: -10%;
        left: -10%;
    }

    a:hover {
        color: $link_color;
    }

    .grid p {
        height: 72px;
        overflow: hidden;
    }
}

.time {
    font-weight: bold;
}

.entries--list {
    li {
        a {
            display: table;
            width: 100%;
            .imageWrapper {
                display: table-cell;
                vertical-align: top;
                width: 144px;
                .image {
                    margin-bottom: 0;
                    padding-top: 50%;
                }
            }
            .text {
                display: table-cell;
                vertical-align: middle;
                padding: 0 12px;
            }
        }
    }
}

.list-middle {
    a {
        .imageWrapper {
            width: 144px !important;
            padding-right: 8px !important;
            .image {
                padding-top: 144px !important;
            }
        }
    }
}

span.showbiz {
    background-color: #FF6F00;
}

span.fashion {
    background-color: #0030FF;
}

span.music {
    background-color: #FFD200;
}

span.event {
    background-color: #6633FF;
}

span.movie {
    background-color: #CC0099;
}

span.recruit {
    background-color: #66CC00;
}

span.other {
    background-color: #333;
}











































/*-- TOPICS---------------------------------*/

.main-post {
    max-width: $max_width;
    margin: 0 auto;
    .imageWrapper {
        position: relative;
        .entries--title-wrapper {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 20;
            background-color: rgba(0, 0, 0, .3);
            width: 100%;
            .entries--title {
                color: #fff;
                font-weight: bold;
                text-align: center;
                padding: 12px;
                a {
                    line-height: 1.7;
                    display: block;
                    font-size: 1.2em;
                    color: #fff;
                    font-weight: bold;
                    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
                    &:hover {
                        color: $link_color;
                    }
                }
            }
        }
    }
}

#topics {
    overflow: hidden;
    margin-right: 340px;
    float: left;
    .entries--list {}
}

.pageBx {
    @include line-bottom(.5, 1);
    .main-post {
        width: 528px;
        float: left;
        .image {}
        a {
            color: $link_color;
            &:hover {
                color: $text_color;
            }
        }
        p {
            margin-bottom: 24px;
        }
        time {
            margin-top: 24px;
            display: block;
            +.main-post--title {
                margin-top: 0;
            }
        }
    }

    .entries--list {
        margin-left: 548px;
    }
}











































/*-- GRID---------------------------------*/

.grid {
    overflow: hidden;
    .col2 {
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.grid>* {
    float: left;
    box-sizing: border-box;
}

.grid__item--1 {
    width: 8.333%;
}

.grid__item--2 {
    width: 16.667%;
}

.grid__item--2-4 {
    width: 20%;
}

.grid__item--3 {
    width: 25%;
}

.grid__item--4 {
    width: 33.333%;
}

.grid__item--4-8 {
    width: 40%;
}

.grid__item--5 {
    width: 41.666%;
}

.grid__item--6 {
    width: 50%;
}

.grid__item--7 {
    width: 58.333%;
}

.grid__item--8 {
    width: 66.666%;
}

.grid__item--9 {
    width: 75%;
}

.grid__item--10 {
    width: 83.33%;
}

.grid__item--11 {
    width: 91.665%;
}

.grid__item--12 {
    width: 100%;
}

.has-gutter {
    padding-left: 10px;
    padding-right: 10px;
}

.grid-fill {
    margin-left: -10px;
    margin-right: -10px;
}































/*-- ENTRY---------------------------------*/

.entry {
    position: relative;
    padding: 0 12px;
    h1 {
        @include adjust-font-size-to(24px, 1.5);
        @include rhythm-margins(1, 1.5);
        font-weight: bold;
    }

    h2 {
        @include adjust-font-size-to(22px, 1.5);
        @include rhythm-margins(0, 1.5);
    }

    h3 {
        @include adjust-font-size-to(20px, 1.5);
        @include rhythm-margins(0, 1.5);
    }

    h4 {
        @include adjust-font-size-to(18px, 1.5);
        @include rhythm-margins(0, 1.5);
    }

    p {
        @include adjust-font-size-to(16px, 1.1);
        @include rhythm-margins(0, 1.5);
        clear: both;
    }

    ol {
        padding-left: 2em;
        @include adjust-font-size-to(16px, 1.5);
        @include rhythm-margins(0, 1.5);
        li {
            list-style: decimal !important;
        }
    }

    .socialBtn {
        @include line-tb(.1, .5);
        padding: 11px 0;
        margin-bottom: 36px;
        li {
            padding: 12px 0;
        }
    }

    .iframeWrap {
        margin-bottom: 36px;
    }
}

.data {
    overflow: hidden;
    @include adjust-font-size-to(16px, 1);
    >div {
        margin-right: 20px;
    }
}

#page-nav {
    li {
        border: 0px;
        span {
            display: block;
            font-weight: bold;
        }
    }

    li:last-child {
        text-align: right;
        .imageWrapper {
            padding-left: 8px;
            padding-right: 0;
        }
    }

    p {
        max-height: 72px;
        overflow: hidden;
    }
}

#tag-area {
    ul {
        @include rhythm-margins(1, 0.666);
        overflow: hidden;
        margin-left: -10px;
        margin-right: -10px;
    }

    li {
        @include adjust-font-size-to(12px, 1);
        @include rhythm-margins(0, .333);
        float: left;
        margin-left: 10px;
        margin-right: 10px;
    }

    a {
        position: relative;
        z-index: 2;
        display: block;
        padding: 0 10px;
        background-color: $text_color;
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 50%;
            right: -4px;
            margin-top: -10px;
            border-left: 5px solid $text_color;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
        }
    }
}

.detail {
    @include rhythm-margins(0, 1.5);
    .image {
        @include rhythm-margins(0, 1.5);
    }

    dt {
        @include adjust-font-size-to(14px, 1);
    }

    dd {
        @include adjust-font-size-to(16px, 1);
        @include rhythm-margins(0, 1);
    }

    .genre {
        a:after {
            content: " / "
        }
        a:last-child:after {
            content: "";
        }
    }

    #tag-area {
        border-top: 0;
        box-shadow: none !important;
        ul {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &:after {
        content: "";
        position: relative;
        width: 100%;
        margin-bottom: 1px;
        @include line-bottom(.1, 1);
    }
}

#wpnav {
    position: relative;
    overflow: hidden;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 13px;
    a {
        background: $text_color;
        color: #FFF;
    }

    a:hover {
        background: #555;
    }
}

.wp-pagenavi {
    position: relative;
    left: 50%;
    float: left;
}

#wpnav span,
#wpnav a {
    position: relative;
    left: -50%;
    display: block;
    padding: 5px 8px;
    text-align: center;
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
    border: 1px solid #000;
}

#sgadsense {
    overflow: hidden;
    padding-top: 24px;
    >* {
        float: left;
        margin-right: 20px;
        margin-bottom: 24px;
    }
}











































/*-- SINGLE---------------------------------*/

.author {
    overflow: hidden;
    padding: 12px;
    background-color: #fff;
    border: solid 1px #BDBDBD;
    margin-bottom: 36px;
}

.author__btn {
    background-color: $main_color;
    padding: 5px;
    color: #fff;
    border-radius: 2px;
}

.author__img {
    margin-right: 12px;
}

.author__img img {
    border-radius: 100%;
    width: 64px;
    height: 64px;
    vertical-align: middle;
}

.author__info {
    overflow: hidden;
}


.author__name {
    display: block;
    font-weight: bold;
    font-size: 16px;

    margin-bottom: 4px;

    color: #000;
}

.author__type {
    display: block;
    font-size: 12px;
}

.author-sns {
    float: left;
}

.author-sns i {
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 4px;
}

.author-sns__item {
    display: inline-block;
    border-radius: 4px;
}

.author-sns__item--twitter {
    background-color: #1DA1F2;
}

.author-sns__item--facebook {
    background-color: #3B5998;
    padding: 0 5px;
}

.author-sns__item--instagram {
    background: -webkit-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -webkit-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: -moz-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -moz-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: -ms-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -ms-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: -o-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -o-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: radial-gradient(circle farthest-corner at 32% 106%, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    -webkit-animation: animation 3.5s linear infinite;
    -moz-animation: animation 3.5s linear infinite;
    -ms-animation: animation 3.5s linear infinite;
    -o-animation: animation 3.5s linear infinite;
    animation: animation 3.5s linear infinite;
}

.author__text p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 12px;
}











































/*-- ad_recommend---------------------------------*/

.x_header {
    display: none!important;
    font-weight: bold!important;
    text-align: center!important;
    font-size: 16px!important;
    font-weight: normal;
    background: inherit;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)!important;
    color: black;
    margin: 0px auto 24px auto!important;
    max-width: 600px!important;
    padding-bottom: 12px;
}

.GUNO-ADSarticleArea {
    width: 49.8%;
    height: 210px;
    display: table-cell;
}

#GUNO-ADScontainer li {
    margin: 0 !important;
    padding: 0 !important;
}

.GUNO-ADSimgThum {
    padding: 0;
    width: 94%;
    margin: 0 15px 0 0;
}

.GUNO-ADSimgThum div {
    width: 100%;
    height: 92px;
    display: block;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.GUNO-ADSarticleTitle {
    line-height: 1.2;
    width: 92%;
    font-size: 12px;
    margin-left: 2px;
    color: #000;
}

.GUNO-ADSsiteTitle {
    text-align: right;
    padding: 0;
    color: #ccc;
    margin: 0 0 0 0;
    width: 90%;
    font: inherit;
    vertical-align: baseline;
    font-size: 10px;
    font-weight: normal;
}

.GUNO-ADSheader {
    font-weight: bold !important;
    text-align: center !important;
    font-size: 16px !important;
    font-weight: normal;
    background: inherit;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    color: black;
    margin: 0px auto 24px auto !important;
    max-width: 600px !important;
    padding-bottom: 12px;
}

@media screen and ( min-width:374px) {
    .GUNO-ADSarticleArea {
        width: 49.8%;
        height: 210px;
        display: table-cell;
    }

    .GUNO-ADSimgThum {
        margin: 0 auto;
        height: 140px;
        overflow: hidden;
    }

    .GUNO-ADSimgThum div {
        width: 100%;
        height: 140px;
    }

    .GUNO-ADSarticleTitle {
        line-height: 1.2;
        width: 92%;
        font-size: 12px;
        margin: 5px 0 0 5px;
        color: #000;
    }
}











































/* ------ 1000px 以下 -----------------------------------------------------------------------------------------*/

@media screen and ( max-width: 1000px) {
    #sharenav_sp {
        display: block;
    }

    .pchidden {
        display: block;
    }

    .tbhidden {
        display: none !important;
    }

    .sphidden {
        display: block !important;
    }

    #header {
        position: relative;
        background: $bg_color;
        padding: 48px 0 0 0;
        margin-bottom: 1px;
        .header__top {
            flex-wrap: wrap-reverse;
        }
        #header__adsense {
            width: 100%;
            padding: 0px;
        }
    }

    #header__adsense {
        text-align: center;
        position: static;
    }

    #navigation {
        border: none;
        margin-bottom: 0px;
        .navigation_pc {
            display: none;
        }
        .navigation_sp {
            display: block;
        }
        ul {}
        li {

            text-align: center;
            &:last-child a {
                border-right: none;
            }
            a {
                font-weight: normal;
                display: block;
                color: #fff;
                overflow: hidden;
                width: 100%;

                &:hover {
                    color: #000;
                    background-color: rgba(255, 255, 255, 9);
                    border-radius: 20px;
                }
            }
        }
    }
    /*-- HEADER ---------------------------------*/
    #header {
        #logo {
            margin: 20px auto 20px auto;
        }
    }

    #menubtn {
        display: block;
        float: left;
        width: 32px;
        height: 32px;
        cursor: pointer;
        background: url(../images/menu.png) 0 0 no-repeat;
        background-size: 32px;
        margin-left: 10px;
    }

    .archiveTab {
        display: block;
    }
    /*-- MAIN ---------------------------------*/
    #content.inner {
        position: static;
    }

    #mainContent {
        float: none;
        >.content-inner {
            margin-left: 0;
        }
    }

    #maincol {
        float: none;
        >.content-inner {
            margin-right: 0;
        }
    }
    /*-- SUB ---------------------------------*/
    #sub1 {
        position: static;
        float: none;
        width: 100%;
        padding: 0;
        margin: 0;
        &:before {
            content: none;
        }
    }

    #sub-navigation {
        position: absolute;
        z-index: 30;
        background: #333;
        top: 0;
        left: -262px;
        float: none;
        width: 260px;
        padding: 0;
        margin: 0;
        overflow: hidden;
        padding-bottom: 10000px;
        margin-bottom: -10000px;
        .nav-content {
            a {
                display: block;
                padding: 0 10px;
                @include adjust-font-size-to(14px, 1);
                @include rhythm-padding(.5, .5);
                color: #FFF;
                &:hover {
                    color: $link_color;
                }
            }
            li {
                margin-bottom: 0 !important;
            }
            li ul {
                padding-left: 1em;
                li:before {
                    content: none;
                }
            }
            .icn {
                &:before {
                    top: 15px;
                    left: 5px;
                }
            }
        }
    }

    #sub-adarea {
        @include line-top(.5, 1);
        padding-top: 24px;
    }

    #sub-adarea .sub--bx {
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        width: 20%;
    }

    #sub2 {
        float: none;
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 24px;
        padding: 0;
        &:before {
            content: none;
        }
    }

    .icn {
        &:before {
            background-image: url(../images/icon-nav-sp.png);
            background-size: 272px;
        }
    }

    .grid-sp {
        margin-left: -10px;
        margin-right: -10px;
        >* {
            float: left;
            box-sizing: border-box;
            width: 50%;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    /*-- FOOTER---------------------------------*/
    #footer {}

    #ftmiddle {
        .grid {
            float: none;
            >* {
                padding: 0 !important;
                width: 100% !important;
            }
        }
        .grid-fill {
            margin: 0;
        }
    }

    #ftbottom {
        overflow: hidden;
        .inner {
            padding: 0;
        }
        ul {
            float: none;
            margin: 2px -1px;
        }
        li {
            float: none;
            margin-left: 0;
            width: 100%;
            box-sizing: border-box;
            padding: 1px;
        }
        a {
            display: block;
            text-align: center;
            padding: 5px 0;
            background: #111;
        }
        address {
            text-align: center;
            padding: 8px 0;
        }
    }
    /*-- SPECIAL---------------------------------*/
    .sp-grid {
        .sp-grid__item {
            width: 49%;
            margin: 0 .5%;
            .imageWrapper {
                .image {
                    width: 100%;
                }
            }
            .sp-text {
                padding: 12px;
                p {}
            }
        }
    }
    /*-- TOPICS---------------------------------*/
    .main-post {
        .imageWrapper {
            .entries--title-wrapper {
                .entries--title {}
            }
        }
    }

    #topics {
        float: none;
        margin-right: 0px;
        .main-post {
            width: 100%;
            float: none;
            position: relative;
            a {
                color: $link_color;
                &:hover {
                    color: $text_color;
                }
            }
            p {
                margin-bottom: 24px;
            }
        }
        .entries--list {
            margin-left: 0;
        }
    }

    .entries--list {
        li {
            border-bottom: 1px solid #BDBDBD;
            padding-bottom: 12px;
            margin-bottom: 12px;
            a {
                .imageWrapper {
                    .image {}
                }
                .text {}
            }
        }
    }

    .pageBx {
        .main-post {
            width: 100%;
            float: none;
        }
        .entries--list {
            margin-left: 0;
        }
    }
    /*-- GRID---------------------------------*/
    .grid__item--1 {
        width: 16.667%;
    }

    .grid__item--2 {
        width: 33.333%;
    }

    .grid__item--2-4 {
        width: 40%;
    }

    .grid__item--3 {
        width: 50%;
    }

    .grid__item--4 {
        width: 66.666%;
    }

    .grid__item--4-8 {
        width: 80%;
    }

    .grid__item--5 {
        width: 83.333%;
    }

    .grid__item--6 {
        width: 100%;
    }

    .grid__item--7 {
        width: 100%;
    }

    .grid__item--8 {
        width: 100%;
    }

    .grid__item--9 {
        width: 100%;
    }

    .grid__item--10 {
        width: 100%;
    }

    .grid__item--11 {
        width: 100%;
    }

    .grid__item--12 {
        width: 100%;
    }
}









































/* ------ 600px 以下 -----------------------------------------------------------------------------------------*/

@media screen and ( max-width: 600px) {
    .alignleft,
    .alignright {
        float: none;
        margin: 0 0 1em 0;
        display: block;
    }

    .tbhidden {
        display: none !important;
    }

    .sphidden {
        display: none !important;
    }

    .inner {
        padding: 0;
    }
    /*-- HEADER---------------------------------*/
    #header {
        #logo {
            text-align: center;
            width: 100%;
            a {
                width: 189px;

                margin: 0 auto;
            }
        }
    }

    #navigation {
        ul {}
        li {
            text-align: center;
        }
        #shopbtn-sp {
            display: block;
        }
    }

    #videobtn a {
        background-position: -40px 0;
    }

    #eventbtn a {
        background-position: -80px 0;
    }

    #fashionbtn a {
        background-position: -120px 0;
    }

    #musicbtn a {
        background-position: -160px 0;
    }

    #shopbtn-sp a {
        background-position: -200px 0;
    }
    /*-- LOGIN ---------------------------------*/
    #login {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #login--wd {
        right: 10px;
    }
    /*-- SUB---------------------------------*/
    .grid-sp {
        margin-left: 0 !important;
        margin-right: 0 !important;
        >* {
            float: none !important;
            width: 100% !important;
            padding-left: !important;
            padding-right: !important;
        }
    }

    #sub-adarea .sub--bx {
        width: 40%;
    }
    /*-- ENTRIES---------------------------------*/
    .entries {
        a {
            display: table;
            width: 100%;
            .imageWrapper {
                display: table-cell;
                vertical-align: top;
                width: 144px;
                padding-right: 8px;
                .image {
                    margin-bottom: 0;
                    padding-top: 50%;
                }
            }
            .text {
                display: table-cell;
                vertical-align: middle;
            }
            p {
                max-height: none;
                font-size: 1.2em;
            }
        }
        .grid p {
            height: auto;
            overflow: visible;
        }
    }

    #sgadsense {
        >* {
            float: none;
            margin-right: 0;
        }
    }
    /*-- TOPICS---------------------------------*/
    .main-post {
        .imageWrapper {
            .entries--title-wrapper {
                bottom: 8px;
                .entries--title {
                    text-align: left;
                    font-size: 1.5em;
                    line-height: 1.4rem;
                }
            }
        }
    }

    #topics {
        padding: 1px;
    }
    /*-- ENTRY---------------------------------*/
    .data {
        overflow: hidden;
        @include adjust-font-size-to(16px, 1);
    }
    /*-- GRID---------------------------------*/
    .grid {
        float: none;
        >* {
            width: 100%;
        }
    }

    .has-gutter {
        padding-left: 0;
        padding-right: 0;
    }

    .grid-fill {
        margin-left: 0;
        margin-right: 0;
    }
}

.ads {
    &__item {
        margin: 0px 5px 10px 5px;
        @include mq {
            text-align: center;
        }
    }
}





































/*-- ADINFO---------------------------------*/

.adinfo {
    font-size: 16px;
    line-height: 1.7;
    img {
        vertical-align: bottom;
    }

    &__top {
        background-image: url(../images/adinfo/ad_top2.jpg);
        background-size: contain;
        background-position: center center;
        background-repeat: repeat;
        position: relative;
        min-height: 500px;
        @include mq {
            min-height: 300px;
        }
    }

    &__head {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        font-size: 36px;
        font-weight: bold;
        width: 100%;
        color: #fff;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3019+0,cf0404+100;Red+3D */
        background: #ff3019;
        /* Old browsers */
        background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ff3019 0%, #cf0404 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0);
        /* IE6-9 */
        padding: 20px;
        text-align: center;
        max-width: 600px;
        margin: 0 auto;

        @include mq {
            font-size: 32px;
        }
    }

    &__menu {
        background-color: #fff;
        padding: 50px 20px;
        @include mq {
            padding: 20px;
        }
    }

    &__title {
        font-size: 32px;
        font-weight: bold;
        color: $main_color;
        border: $main_color solid 5px;
        padding: 5px;
        max-width: 400px;
        text-align: center;
        margin: 0 auto 20px auto;

        @include mq {
            font-size: 24px;
        }
    }

    &__text {
        font-weight: bold;
        max-width: 960px;
        margin: 0 auto 20px auto;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        @include mq {
            display: block;
        }
    }

    &__item {
        margin: 5px;
        font-weight: bold;
        background-color: rgba($main_color, 1);
        text-align: center;
        width: calc(33.3333% - 10px);
        background: $main_color;
        color: #FFF;
        border-bottom: solid 4px #B21707;
        border-radius: 3px;
        a {
            display: block;
            padding: 10px 0;
            color: #fff;
        }
        @include mq {
            width: calc(100% - 0px);
        }
    }

    .adinfo-about {
        position: relative;
        background-color: $gray;
        overflow: hidden;
        padding: 50px 0;

        &__text {
            max-width: 960px;
            margin: 0 auto;
            p {
                box-shadow: 1px 2px 3px #000;
                background-color: rgba(255, 255, 255, 1);
                font-weight: bold;
                padding: 20px;
                font-size: 14px;
                text-align: justify;
                span {
                    border-bottom: 1px solid #000;
                }
            }
        }
        &__head {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3019+0,cf0404+100;Red+3D */
            background: #ff3019;
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #ff3019 0%, #cf0404 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0);
            /* IE6-9 */
            color: #fff;
            width: 120px;
            text-align: center;
            padding: 10px 20px;
            font-size: 24px;
            line-height: 1;
            border-radius: 10px 10px 0 0;

            img {
                width: 100px;
            }
            @include mq {
                margin: 0 auto;
                img {
                    width: 100px;
                }
            }
        }
        img {
            filter: grayscale(1);
        }
    }

    .adinfo-menu {
        padding: 50px 0 0 0;
        @include mq {
            padding: 20px 0 0 0;
        }
        &__head {
            font-weight: bold;
            font-size: 36px;
            text-align: center;
            line-height: 1;
            margin-bottom: 50px;
            display: block;

            span {
                color: $gray;
                font-size: 12px;
                border-top: 3px solid $main_color;
                padding-top: 10px;
            }

            @include mq {
                font-size: 24px;
                line-height: 1.2;
                margin-bottom: 20px;

                span {
                    color: $gray;
                    font-size: 12px;
                    border-top: 3px solid $main_color;
                    padding-top: 5px;
                }
            }
        }
        &__subhead {
            color: $gray;
            font-weight: bold;
            font-size: 24px;
            text-align: center;
        }

        &__wrap {
            margin-bottom: 50px;
        }
        &__post {
            background-color: #fff;
            &>div {
                filter: blur(0px);
            }
            &>div:hover img {
                filter: blur(1px);
            }
            h4 {
                color: #000;
                background-color: #fff;
                font-size: 12px;
                padding: 10px;
                span {
                    color: #bdbdbd;
                }
            }
        }
        &__about {
            padding: 50px 0 25px 0;
            margin-bottom: 25px;
            width: 100%;
            background-color: rgba(#fff, 1);
            overflow: hidden;
        }
        &__item {
            width: 50%;
        }
        &__item--text {
            position: absolute;
            top: 200px;
            border: 5px solid rgba($main_color, .7);
            padding: 45px;
            background-color: rgba(#fff, .9);
            font-weight: bold;
            color: #000;
            border-radius: 5px;
            p {
                font-weight: bold;
            }
        }
        &__item--left {
            float: left;
        }
        &__item--right {
            float: right;
            right: 0;
        }
        @include mq {
            &__item {
                width: 100%;
                box-sizing: border-box
            }
            &__item--text {
                position: static;
                top: 0;
                border: 5px solid rgba($main_color, .7);
                padding: 20px;
                background-color: rgba(#fff, .9);
                color: #000;
                border-radius: 5px;
                p {
                    font-weight: bold;
                }
            }
            &__item--left {
                float: none;
            }
            &__item--right {
                float: none;
            }
        }
    }
}

.adinfo-contact {
    background-color: #fff;
    .inner {
        max-width: 960px;
    }

    &__item {
        margin-bottom: 24px;
    }

    &__head {
        p {
            font-weight: bold;
        }
    }

    &__input {
        input,
        textarea {
            border: 1px solid rgba(#bdbdbd, .2);
            max-width: 100%;
            font-size: 16px;
            background-color: rgba(#bdbdbd, .1);
        }
    }

    &__item {}

    .wpcf7-list-item {
        display: block;
        span {
            font-weight: bold;
        }
    }

    &__check {
        margin-bottom: 12px;
        display: block;
    }

    &__privacy {
        height: 300px;
        overflow: auto;
        border: 1px solid #CCC;
        padding: 10px;
        margin-bottom: 12px;
        p {
            font-size: 12px;
        }
    }

    &__contact {
        width: 100%;
        background: #ff3019;
        /* Old browsers */
        background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ff3019 0%, #cf0404 100%);
    }
}


.adinfo-footer {
    display: none;
}

@include mq {
    .adinfo-footer {
        display: block;
        background-color: $main_color;
        &__list {
            overflow: hidden;
        }
        &__item {
            float: left;
            font-size: 14px;
            text-align: center;
            width: 33.3333%;
            font-weight: bold;
            &:first-child a {
                border-left: solid 1px #fff;
            }
            a {
                display: block;
                padding: 5px 0;
                color: #FFF;
                text-align: center;
                border-right: solid 1px #fff;
            }
        }
    }

    .animate-fixed {
        position: fixed;
        width: 100%;
        bottom: 0;
        right: 0;
        z-index: 100;
    }
}

.adsbygoogle-wrapper {
    margin-bottom: 11px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @include mq {
        justify-content: center;
    }

    &__item {}
}

.adsbygoogle--banner {
    width: 320px;
    height: 100px;
    @media(min-width: 470px) {
        width: 468px;
        height: 60px;
    }

    @media(min-width: 730px) {
        width: 728px;
        height: 90px;
    }
}














.comments {
    .comments-list {
        padding: 0;
    }

    .comment {
        background-color: #efefef;
        margin-bottom: 20px;
        padding: 10px;
        font-size: 12px;
        list-style: none;
        p {
            margin-bottom: 0!important;
            font-size: 12px;
            line-height: 1.7;
        }
    }

    .comment-reply-link {
        color: #bdbdbd;
    }
}









/*-- popup ---------------------------------*/

.layer_board_bg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    display: none;
    cursor: pointer;
    background: #000;
}

.layer_board {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2000;
    padding: 5%;
}

.layer_board_close {
    position: absolute;
    top: 0;
    right: 0;
    i {
        font-size: 24px;
    }
}