@charset "UTF-8";

.container {
    width: $max_width;
    margin: 0 auto;
}

.post-copy {
    color: #424242;
    font-size: 12px;
    text-align: right;
    &:before {
        // content: "\f1f9";
        // font-family: FontAwesome;
        content: "出典 : ";
    }
    a {
        color: #424242;
    }
}

// .next-link__wrapper {
// /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7c7c7c+9,ffffff+100,ffffff+100&1+0,0+100 */
// background: -moz-linear-gradient(top, rgba(124,124,124,1) 0%, rgba(124,124,124,0.91) 9%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(top, rgba(124,124,124,1) 0%,rgba(124,124,124,0.91) 9%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(to bottom, rgba(124,124,124,1) 0%,rgba(124,124,124,0.91) 9%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c7c7c', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
// padding: 48px;
// position: relative;
// top: -96px;
// }

.next-link {
    background-color: #424242;
    padding: 10px 20px;
    display: block;
    color: #fff;
    max-width: 320px;
    text-align: center;
    border-radius: 20px;
    margin:0 0 24px 0;
    font-size: 16px;
    @include mq {
        max-width: 720px;
    }
}

.clone-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    transition: .3s;
    transform: translateY(-100%);
    display: block;
}

@include mq {
    display: none;
}

.social--show {
    transform: translateY(0);
}

/************************************
** 引用
************************************/
.quotation {
    position: relative;
    padding: 10px 15px 10px 60px;
    box-sizing: border-box;
    font-style: italic;
    background: #efefef;
    color: #555;
    margin-bottom: 24px;
}



.quotation:before {
    display: inline-block;
    position: absolute;
    top: 18px;
    left: 15px;
    vertical-align: middle;
    font-family: "Font Awesome 5 Free";
    content: '\f10d';
    color: #cfcfcf;
    font-size: 30px;
    line-height: 1;
}

.quotation p {
    padding: 0;
    margin: 10px 0;
    line-height: 1.7;
}

.quotation cite {
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.9em;
}

/************************************
** LINEトーク風
************************************/
.talk {
    margin-bottom: 25px;
    background-color: #FFC1BB;
    padding: 24px ;
    @include mq {  padding: 12px ;}
}

/* 左画像 */

.talk__img {
    margin: 0;
    width: 60px;
    height: 60px;
}

.talk__img--left {
    float: left;
    margin-right: -70px;
}

/* 右画像 */

.talk__img--right {
    float: right;
    margin-left: -70px;
}

.talk figure img {
    width: 100%;
    height: 100%;
    border: 1px solid #bdbdbd;
    border-radius: 50%;
    margin: 0;
     background-color: #fff;
}


/* 画像の下のテキスト */

.talk__name {
    padding: 10px 0;
    font-size: 10px;
    text-align: center;
    position: relative;
    bottom: 15px;
}




/* 左からの吹き出しテキスト */

.talk__text {
    position: relative;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
        background: #eee;
    p {
        margin-bottom: 0px!important;
    }
}

.talk__text--right {
    margin-left: 80px;

    margin-right: 12%;
    float: left;
}


/* 右からの吹き出しテキスト */

.talk__text--left {
    margin-right: 80px;
    margin-left: 12%;
    float: right;
}
.talk__text--active {
 background-color: #FFC1BB;
}


   

/* 左の三角形を作る */

.talk__text--right:before {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    top: 15px;
    left: -20px;
}

.talk__text--right:after {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    top: 15px;
    left: -19px;
        border-right: 10px solid #eee;
}


/* 右の三角形を作る */

.talk__text--left:before {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    top: 15px;
    right: -20px;
}

.talk__text--left:after {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-left: 10px solid #eee;
    top: 15px;
    right: -19px;
}

   

/* 回り込み解除 */

.talk__item:after,
.talk__item:before {
    clear: both;
    content: "";
    display: block;
}

/************************************
** ブログカードのスタイル
************************************/

.blog-card {
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    word-wrap: break-word;
    max-width: 100%;
    width: 474px;
    border-radius: 5px;
}

.blog-card-thumbnail {
    float: left;
}

.blog-card-content {
    margin-left: 110px;
    line-height: 120%;
}

.blog-card-title {
    margin-bottom: 5px;
}

.blog-card-title a {
    font-weight: bold;
    text-decoration: none;
    color: #111;
}

.blog-card-excerpt {
    color: #333;
    font-size: 90%;
}

.blog-card-footer {
    font-size: 70%;
    color: #777;
    margin-top: 5px;
}





/*-- bredcrumbs ---------------------------------*/

#breadcrumbs {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background: #E2E2E2;
}

#breadcrumbs>* {
    text-align: center;
    margin: 0 5px;
    font-size: 1.2em;
    line-height: 2em;
}







/*-- MUSIC ---------------------------------*/

.musicBox {
    >* {
        margin-left: 120px;
    }
    h5 {
        @include adjust-font-size-to(16px, 1);
        font-weight: bold;
    }
    .image {
        float: left;
        margin-left: 0;
    }
    p {
        clear: none;
    }
}







/*-- STUDIO ---------------------------------*/

#search-bar {
    position: relative;
    h3 {
        background-origin: border-box;
        @include ts-000(.1);
        @include gradient-top-lighten(#000, 5%);
        @include emboss-box($border: .1, $shadow: .1, $highlight: .2);
        color: rgba(#FFF, .9);
        font-size: 12px;
        padding: 0 10px;
        text-align: center;
        height: 36px;
        line-height: 36px;
        &.active {
            @include gradient-top-lighten(#333, 5%);
        }
        &:hover {
            @include gradient-top-lighten(#333, 5%);
        }
    }
    #searchMap h3 {
        border-radius: 3px 0 0 3px;
    }
    #searchKeyword {
        padding-left: 5px;
        input {
            height: 38px;
            line-height: 38px;
            border-radius: 0;
        }
    }
    #searchSubmit {
        padding-left: 5px;
        input {
            width: 100%;
            background-origin: border-box;
            position: relative;
            @include ts-000(.1);
            @include gradient-top-lighten($link_color, 5%);
            @include emboss-box($border: .1, $shadow: .1, $highlight: .2);
            color: rgba(#FFF, .9);
            font-size: 12px;
            padding: 0 10px;
            text-align: center;
            height: 38px;
            line-height: 38px;
            border-radius: 0 3px 3px 0;
            &:focus {
                outline: 0;
            }
            &:hover {
                @include gradient-top-lighten($link_color, 20%);
            }
        }
    }
}

.formContent {
    float: left;
    box-sizing: border-box;
    width: 25%;
    .formContent--wd {
        display: none;
        position: absolute;
        z-index: 10;
        background: #444;
        top: 38px;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 0;
        box-shadow: 0 2px 1px rgba(#000, .5);
    }
    span {
        white-space: nowrap;
        color: #EEE;
        @include adjust-font-size-to(13px, 1);
        margin-right: 10px;
    }
}

#searchMap>div {
    padding: 20px 10px;
    >div {
        .region+label {
            font-size: 15px !important;
        }
    }
    >div>div {
        margin-bottom: 24px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

#searchStyle>div {
    width: 75%;
    padding: 20px;
    left: 25%;
}

#searchOption>div {
    width: 50%;
    padding: 20px;
    left: 50%;
}

.search-result {
    padding: 24px 0 0 0;
    p {
        @include adjust-font-size-to(14px, 1);
    }
}







/*-- COMPANY ---------------------------------*/

.companyDl {
    display: table;
    width: 100%;
    box-sizing: border-box;
    border-right: 1px solid #333;
    border-top: 1px solid #333;
    dt,
    dd {
        display: table-cell;
        border-left: 1px solid #333;
        border-bottom: 1px solid #333;
        box-sizing: border-box;
        @include adjust-font-size-to(18px, 1);
        padding: 24px;
    }
}







/*-- MY PAGE ---------------------------------*/

#profDiv {
    overflow: hidden;
    .image {
        width: 144px;
        padding: 3px;
        background: #F5F5F5;
        float: left;
        border-radius: 3px;
        img {
            width: 100%;
            border-radius: 3px;
        }
    }
    .profile {
        position: relative;
        margin-left: 190px;
        #profpage {
            position: absolute;
            top: 8px;
            right: 10px;
            a {
                @include button(#000, 10px, #FFF);
                height: 16px;
                line-height: 16px;
            }
        }
    }
    table {
        width: 100%;
        border-left: 1px solid #CCC;
        margin-bottom: 36px;
        background: #F5F5F5;
        box-sizing: border-box;
        caption {
            background-origin: border-box;
            @include ts-000(.1);
            @include gradient-top-lighten(#00AB9F, 5%);
            @include emboss-box($border: .1, $shadow: .1, $highlight: .2);
            color: rgba(#FFF, .9);
            font-size: 12px;
            padding: 0 10px;
            text-align: left;
            height: 36px;
            line-height: 36px;
        }
        th,
        td {
            padding: 7px 10px 6px 10px;
            border-right: 1px solid #CCC;
            border-bottom: 1px solid #CCC;
            box-sizing: border-box;
        }
        th {
            @include adjust-font-size-to(12px, 1);
            width: 150px;
        }
        td {
            @include adjust-font-size-to(16px, 1);
            &.description {
                @include adjust-font-size-to(14px, 1);
            }
        }
    }
}

.edit_prof {
    >p {
        text-align: right;
    }
    >ul {
        overflow: hidden;
        margin-bottom: 24px;
        li {
            float: right;
            margin-left: 20px;
            a {
                @include button($link_color, 10px, #FFF);
                height: 24px;
                line-height: 24px;
            }
        }
    }
}

#wpmem_reg fieldset,
#wpmem_login fieldset {
    margin-bottom: 24px;
    legend {
        @include adjust-font-size-to(16px, 1);
        @include rhythm-padding(.333, .333);
    }
    label {
        @include adjust-font-size-to(14px, 1);
        width: 180px;
        float: left;
        margin-bottom: 16px;
    }
    .div_text {
        margin-left: 190px;
        margin-bottom: 16px;
    }
    .div_textarea {
        margin-left: 190px;
        margin-bottom: 16px;
        textarea {
            width: 100%;
        }
    }
    .div_select {
        margin-left: 190px;
        margin-bottom: 16px;
        select {
            max-width: 200px;
            width: 100%;
        }
    }
    p {
        @include adjust-font-size-to(16px, 1);
    }
    .button_div {
        margin-left: 190px;
    }
    input[type="reset"] {
        width: 120px;
        margin: 0 20px 0 0;
    }
    input[type="submit"] {
        width: 200px;
    }
    .req-text {
        display: none;
    }
}

#wpmem_msg {
    h2:after {
        content: none;
    }
}







/*-- FASHION ---------------------------------*/

#fashion-bx:after {
    content: none;
}







/*-- INSTAGRAM---------------------------------*/

.istaBox {
    max-width: 400px;
    margin: 40px auto 40px auto;
    overflow: hidden;
}

.istaBox a {
    color: #555;
}

.istaBox--hd {
    overflow: hidden;
    vertical-align: bottom;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #EEE;
}

.pficon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
}

.pficon img {
    width: 100%;
}

.istaBox--hd .name {
    display: block;
    float: left;
    font-size: 14px;
    line-height: 14px;
    margin-top: 26px;
}

.istaBox--hd .like {
    display: block;
    float: right;
    font-size: 10px;
    line-height: 10px;
    margin-top: 30px;
    color: #CCC;
}

.istaBox--hd .like:before {
    content: url(../images/like.png);
    margin-right: 3px;
}

.istaBox--bd {}

.istaBox--ft span {
    color: #CCC;
    margin-right: 5px;
    font-size: 11px;
}







/*-- ENTRY FORM ---------------------------------*/

.entryWrap {
    overflow: hidden;
    margin: 0 -10px;
}

#event_anomaly {
    box-sizing: border-box;
    float: left;
    padding: 10px;
    width: 25%;
    margin-bottom: 24px;
    @include line-tb(.1, 1);
    .box {}
    .depart_head {
        box-sizing: border-box;
        width: 100%;
        @include ts-000(.1);
        @include gradient-top-lighten($main_color, 5%);
        @include emboss-box($border: .1, $shadow: .1, $highlight: .2);
        color: rgba(#FFF, .9);
        font-size: 12px;
        padding: 0 10px;
        text-align: center;
        height: 24px;
        line-height: 24px;
        margin-bottom: 8px;
    }
    .depart_child {
        margin-bottom: 8px;
        >br {
            display: none;
        }
    }
    .entry_head {
        @include button(#333, 10px, #FFF);
        box-sizing: border-box;
        width: 100%;
        height: 24px;
        line-height: 24px;
        cursor: pointer;
    }
    .entry_list {
        display: none;
        @include adjust-font-size-to(12px, 1);
    }
}

.table01 {
    width: 100%;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    margin-bottom: 36px;
    background: #F5F5F5;
    th,
    td {
        padding: 7px 10px 6px 10px;
        border-right: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
    }
    th {
        @include adjust-font-size-to(12px, 1);
        width: 150px;
        background: #E5E5E5;
    }
    td {
        @include adjust-font-size-to(16px, 1);
        &.description {
            @include adjust-font-size-to(14px, 1);
        }
    }
}

.formtable {
    width: 100%;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    margin-bottom: 36px;
    background: #F5F5F5;
    th,
    td {
        padding: 8px 10px 8px 10px;
        border-right: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
        vertical-align: top;
    }
    td label {
        @include adjust-font-size-to(14px, 1);
    }
    td input {
        max-width: 250px;
    }
    td input[type="submit"] {
        max-width: none;
    }
    th {
        @include adjust-font-size-to(14px, 1);
        width: 200px;
        background: #E5E5E5;
    }
}







/* ------ 900px 以下 -----------------------------------------------------------------------------------------*/

@media screen and ( max-width: 900px) {}







/* ------ 600px 以下 -----------------------------------------------------------------------------------------*/

@media screen and ( max-width: 600px) {
    #search-bar {
        h3 {
            height: 24px;
            line-height: 24px;
        }
        #searchMap h3 {
            border-radius: 3px 3px 0 0;
        }
        #searchKeyword {
            padding-left: 0;
            padding: 2px 0;
            input {
                border-radius: 0;
            }
        }
        #searchSubmit {
            padding: 0;
            input {
                height: 24px;
                line-height: 24px;
                border-radius: 0 0 3px 3px;
            }
        }
    }
    .formContent {
        float: none;
        box-sizing: border-box;
        width: 100%;
        .formContent--wd {
            display: none;
            position: relative;
            background: #444;
            top: auto;
            left: 0;
        }
        span {
            white-space: nowrap;
            color: #EEE;
            @include adjust-font-size-to(13px, 1);
            margin-right: 10px;
        }
    }
    #searchStyle>div {
        width: 100%;
        padding: 20px;
        left: 0;
    }
    #searchOption>div {
        width: 100%;
        padding: 20px;
        left: 0;
    }
    /*-- MUSIC ---------------------------------*/
    .musicBox {
        >* {
            margin-left: 0;
        }
        .image {
            float: none;
            margin-left: 0;
        }
    }
    /*-- MY PAGE ---------------------------------*/
    #profDiv {
        .image {
            float: none;
            margin-bottom: 24px;
        }
        .profile {
            margin-left: 0;
        }
        table {
            th,
            td {
                width: 100%;
                display: block;
                overflow: hidden;
            }
            th {
                background: #E5E5E5;
            }
        }
    }
    #wpmem_reg fieldset,
    #wpmem_login fieldset {
        label {
            @include adjust-font-size-to(14px, 1);
            width: 100%;
            float: none;
        }
        .div_text {
            margin-left: 0;
        }
        .div_textarea {
            margin-left: 0;
        }
        .div_select {
            margin-left: 0;
        }
        .button_div {
            margin-left: 0;
        }
        input[type="reset"] {
            width: 110px;
            margin: 0 10px 0 0;
        }
        input[type="submit"] {
            width: 170px;
        }
    }
    /*-- ENTRY FORM ---------------------------------*/
    #entryWrap {
        margin: 0;
    }
    #event_anomaly {
        float: none;
        width: 100%;
        margin: 0 0 24px 0;
    }
    /*-- TABLE---------------------------------*/
    .table01 {
        display: block;
        box-sizing: border-box;
        th,
        td {
            display: block;
            width: 100%;
            box-sizing: border-box;
        }
    }
    .formtable {
        display: block;
        box-sizing: border-box;
        th,
        td {
            display: block;
            width: 100%;
            box-sizing: border-box;
        }
    }
}








/*-- FLEX ---------------------------------*/

.flex--between {
    justify-content: space-between;
}

.flex--around {
    justify-content: space-around;
}

.flex--center {
    justify-content: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    .flex__item--2 {
        width: calc(50% - 10px);
        margin: 5px;
    }
    .flex__item--3 {
        width: calc(33.3333% - 10px);
        margin: 5px;
    }
    .flex__item--4 {
        width: calc(25% - 10px);
        margin: 5px;
    }
    .flex__item--5 {
        width: calc(20% - 10px);
        margin: 5px;
    }
}

@include mq {
    .flex--sp>div {
        width: calc(100%)!important;
    }
}

// ブログカード
@include mq {
    /* 記事タイトルのスタイル変更 */
    .lkc-title {
        font-size: 16px;
    }
    /* 画像のスタイル変更 */
    .lkc-thumbnail img {}
    .lkc-content {
        height: 70px!important;
    }
}