@charset "UTF-8";
//size
$max_width:1200px;

//color
$text_color:#333;
$link_color:#3FA9F5;
$hv_color:#999;
$touch_color:rgba(0,171,159,.3);
$bg_color:#FAFAFA;
$main_color:#E02613;
$sub_color1:#333;
$sub_color2:#f7594d;
$gray: #595757;

$base-font-size: 16px;
$base-line-height: 24px;
@include establish-baseline;
$rhythm-unit: "rem";

@mixin rythmmargin($top:0,$bottom:1){
  @include rhythm-margins($top, $bottom);
}
.mb1{
  @include rythmmargin(0,1);
}
.mb1_5{
  @include rythmmargin(0,1.5);
}

//border
@mixin line-top($op1: .4, $op2: .8){
	border-top: 1px solid rgba(0, 0, 0, $op1);
	@include box-shadow(rgba(255, 255, 255, $op2) 0 1px 0 inset);
}
@mixin line-bottom($op1: .4, $op2: .8){
	border-bottom: 1px solid rgba(0, 0, 0, $op1);
	@include box-shadow(rgba(255, 255, 255, $op2) 0 1px 0);
}
@mixin line-tb($op1: .4, $op2: .8){
  border-top: 1px solid rgba(0, 0, 0, $op1);
  border-bottom: 1px solid rgba(0, 0, 0, $op1);
  @include box-shadow(rgba(255, 255, 255, $op2) 0 1px 0,rgba(255, 255, 255, $op2) 0 1px 0 inset);
}
@mixin line-left($op1: .4, $op2: .8){
	border-left: 1px solid rgba(0, 0, 0, $op1);
	@include box-shadow (rgba(255, 255, 255, $op2) -1px 0 0);
}
@mixin line-right($op1: .4, $op2: .8){
	border-right: 1px solid rgba(0, 0, 0, $op1);
	@include box-shadow(rgba(255, 255, 255, $op2) -1px 0 0 inset);
}

//text
@mixin ts-fff($op : .7){
	text-shadow: -1px 1px rgba(0, 0, 0, $op);
}
.shape {
   text-shadow: rgb(223, 223, 223) 1px 1px,
    rgb(223, 223, 223) 2px 2px,
    rgb(223, 223, 223) 3px 3px,
    rgb(223, 223, 223) 4px 4px,
    rgb(223, 223, 223) 5px 5px,
    rgb(224, 224, 224) 6px 6px,
    rgb(225, 225, 225) 7px 7px,
    rgb(226, 226, 226) 8px 8px,
    rgb(227, 227, 227) 9px 9px,
    rgb(228, 228, 228) 10px 10px,
    rgb(229, 229, 229) 11px 11px,
    rgb(230, 230, 230) 12px 12px,
    rgb(231, 231, 231) 13px 13px,
    rgb(232, 232, 232) 14px 14px,
    rgb(233, 233, 233) 15px 15px,
    rgb(234, 234, 234) 16px 16px,
    rgb(235, 235, 235) 17px 17px,
    rgb(236, 236, 236) 18px 18px,
    rgb(237, 237, 237) 19px 19px,
    rgb(238, 238, 238) 20px 20px,
    rgb(239, 239, 239) 21px 21px,
    rgb(240, 240, 240) 22px 22px,
    rgb(241, 241, 241) 23px 23px,
    rgb(242, 242, 242) 24px 24px;
   background-color: rgb(242, 242, 242);
}
//shadow
@mixin ts-000($op : .4){
    text-shadow: 1px -1px rgba(0, 0, 0, $op);
}

// GRADE
@mixin gradient-top-lighten($color:#666, $lighten:10%){
  background-color: $color;
  @include filter-gradient(lighten($color, $lighten), $color, vertical);
  @include background-image(linear-gradient(lighten($color, $lighten) 0%, $color 100%));
}
// EMBOSS BOX
@mixin emboss-box($border: .1, $shadow: .05, $highlight: .5) {
  border: 1px solid rgba(0, 0, 0, $border);
  @include box-shadow(rgba(0, 0, 0, $shadow) -1px 1px 0, rgba(255, 255, 255, $highlight) -1px 1px 0 inset);
}

//BUTTON
@mixin button($color: #48B1F2, $font-size: 16px, $text-color: white) {
  display: inline-block;
  background-origin: border-box;
  position: relative;
  font-weight: bold;
  @include ts-000(.1);
  @include gradient-top-lighten($color, 5%);
  @include border-radius(4px);
  @include emboss-box($border: .1, $shadow: .1, $highlight: .2);
  color: rgba($text-color, .9);
  text-align: center;
  font-size: $font-size;
  padding: 0 ($font-size * 2);
  height: $font-size * 3;
  line-height: $font-size * 3;
  i {
    font-size: 130%;
    margin-right: 5px; 
    color: rgba($text-color, .5);
  }
  &:hover {
    @include gradient-top-lighten(lighten($color, 5%), 5%);
    text-decoration: none;
    color: $text-color;
    i {
      color: $text-color;
    }
  }
  &:active {
    @include gradient-top-lighten($color, 5%);
    top: 1px;
  }
}

//anime

@include keyframes(lodinganime) {
    0% {
        opacity: 0;
        -webkit-transform:translate(-250px, 0);
        transform:translate(-250px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform:translate(0, 0);
        transform:translate(0, 0);
    }
}
@include keyframes(lodinganime2) {
    0% {
        opacity: 0;
        -webkit-transform:translate(0, -200px);
        transform:translate(0, -200px);
    }
    100% {
        opacity: 1;
        -webkit-transform:translate(0, 0);
        transform:translate(0, 0);
    }
}
@include keyframes(opacity) {
    0% {
        opacity: 0;
    }
    50%{
        opacity:0;
    }
    100% {
        opacity: 1;
    }
}

@include keyframes(lodingrotate) {
    0%{ 
        opacity:0;
        -webkit-transform:rotateY(0deg);
        transform:rotateY(0deg);
    }
    100%{ 
        opacity:1;
        -webkit-transform:rotateY(360deg);
        transform:rotateY(360deg);
    }
}


@mixin mq($breakpoint: medium) {
  @if $breakpoint == xsmall {
    @media screen and (min-width: 320px) {
      @content;
    }
  } @else if $breakpoint == small {
    @media screen and (min-width: 600px) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media screen and (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == large {
    @media screen and (max-width: 1000px) {
      @content;
    }
  } @else if $breakpoint == xlarge {
    @media screen and (min-width: 1280px) {
      @content;
    }
  }
}


.only-sp {
    display: none;
    @include mq() {
        display: block;
    }
}

.only-pc {
    @include mq() {
        display: none;
    }
}

