<article class="m-article-embed">
    <a href="http://kai-you.net/article/49625" target="_blank">
        <div class="m-article-embed-image">
            <figure class="figure"><img src="http://kai-you.net/r/img/a/c672x416/fc0bb5e5617c01278b476a48d240b848.jpg" alt="「刃牙」第2部、今夏TVアニメ化　最凶死刑囚編描く『バキ』"></figure>
        </div>
        <div class="m-article-embed-text">
            <p class="m-article-embed-textTitle">「刃牙」第2部、今夏TVアニメ化　最凶死刑囚編描く『バキ』</p>
            <p class="m-article-embed-textDescription">板垣恵介さん原作によるTVアニメ『バキ』が、2018年夏に放送される。
                <br>
                <br> 最凶死刑囚編が描かれることなどは発表されていたが、Netflixでの先行配信も明らかにな…
            </p>
        </div>
        <div class="m-article-embed-link">kai-you.net</div>
    </a>
</article>